<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
<p>
  <input
    type="text"
    class="form-control"
    placeholder="Seacrh.."
    #query
    (keyup)="filter(query.value)"
  />
</p>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of filteredProducts">
      <td>{{ product.val["title"] }}</td>
      <td>{{ product.val["price"] }}</td>
      <td>
        <a [routerLink]="['/admin/products/', product['$key']]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
