<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
<!-- <input
  type="text"
  class="form-control"
  placeholder="Seacrh.."
  #query
  (keyup)="filter(query.value)"
/> -->

<!-- <ngx-datatable
  class="material"
  [rows]="rows"
  [columnMode]="'force'"
  [headerHeight]="40"
  [footerHeight]="40"
  [limit]="10"
  [rowHeight]="'auto'"
>
  <ngx-datatable-column prop="title"></ngx-datatable-column>
  <ngx-datatable-column prop="category"></ngx-datatable-column>
  <ngx-datatable-column prop="price">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <span>{{ value | currency : "USD" : "$" }}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a [routerLink]="['/admin/products', row['key']]">
        <i class="fa fa-edit fa-lg">Edit</i>
      </a>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable> -->
<!-- <ngx-datatable
  class="material"
  [rows]="rows"
  [columns]="[
    { name: 'Title' },
    { name: 'Category' },
    { name: 'Price' },
    { name: 'Edit' }
  ]"
  [columnMode]="force"
  [headerHeight]="50"
  [footerHeight]="50"
  rowHeight="auto"
  [limit]="10"
>
</ngx-datatable> -->
<!-- <table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of rows">
      <td>{{ product["title"] }}</td>
      <td>{{ product["price"] }}</td>
      <td>
        <a [routerLink]="['/admin/products/', product['key']]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
<nav>
  <ul class="pagination">
    <li class="page-item" id="previousPage">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" id="nextPage">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->
<div>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Orange"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let row">{{ row.title }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let row">{{ row.price }}$</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let row">{{ row.category }}</td>
      </ng-container>

      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <a [routerLink]="['/admin/products/', row['key']]">Edit</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
