
.noProduct{
    margin: 200px 100px;
}
.scrollable-section {
    height: 100%; /* Adjust the height as needed */
    overflow-y: auto;
}  
.filter{
    margin-top: 90px;
    z-index: auto;
}
.card{
    top: 90px;
    margin-bottom: 20px;
 }