<div class="row">
  <div class="col-3 filter">
    <products-filter [category]="category"></products-filter>
  </div>
  <div class="col">
    <div class="row card">
      <mat-grid-list cols="2" rowHeight="400px" gutterSize="20px">
        <mat-grid-tile *ngFor="let p of filterdProducts; let i = index">
          <product-card [product]="p"></product-card>
        </mat-grid-tile>
        <ng-container *ngIf="filterdProducts.length == 0">
          <div class="noProduct">
            No products available in the selected category
          </div>
        </ng-container>
      </mat-grid-list>
    </div>
  </div>
</div>
